

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1366px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff931e;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
  opacity: 70%;
}

.header {
  background-image: url();
}
.header .row {
  margin-top: 10px;
}

.header .col-2 img {
  max-width: 100%;
  padding: 10px 0;

}

.categories {
  background-color: #dedef1;
  margin: 70px 0;
  max-width: 100%;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff931e;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff931e;
}
.col-4:hover {
  transform: translateY(-5px);
}
/*        offer          */

.offer {

  margin-top: 10px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}

/*    Testimonial    */
.testimonial {
  padding-top: 100px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(11, 11, 66, 0.5);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}
.fa.fa-quote-left {
  color: #ff931e;
  font-size: 34px;
}

.col-3:p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* footer footer BG - 1f2c3a */ 
.footer {
  background: #1f2c3a;
  color: #ffffff;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer:p {
  color: #ffffff;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4,
.footer-col-5 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30px;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.footer-col-5 img {
  padding-top: 0;
}

.footer hr {
  border: none;
  background: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* media query for menu */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: white;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
}

/* ALL PRODUCTS PAGE    */
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff931e;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid ff931e;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #ff931e;
  color: white;
}

/*--------Single Product Details ---------------*/
.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product .col-2 h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product section {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff931e;
}
input:focus {
  outline: none;
}
.single-product .fa {
  color: #ff931e;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/*------CONTACT FORM -------------------------*/
.contact-form .icon {
  padding: 20px;
  background: #ff931e;
  color: white;
  min-width: 50px;
  text-align: center;
}

.contact-form {
  box-sizing: border-box;
}
.contact-form .input-container {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}
.contact-form .input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.contact-form .input-field:focus {
  border: 2px solid #ff931e;
}
.contact-form .btn {
  background: #ff931e;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0%;
}
.contact-form .btn:hover {
  background: #563434;
  opacity: 70%;
}

/* -----------Account Page css------------*/


.form-container {
  background: white;
  width: 700px;
  height: 600px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);  
}

.form-container span {
  font-weight: bold;
  color: #555;
}

.form-container form {
  max-width: 700px;
  padding: 0 20px;
  position: absolute;
  top: 100px;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form select{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}

#RedForm {
  left: 0;
}

/* ------ WHO we help styles section -----*/
.whoWeHelp{
background-image: url(./Assets/bg\ what\ we\ r.jpg);
    width: 100%;
    height: auto;
    max-width: 100%;
  
}
.checklist{
  list-style: none;
  padding: 0;

}
.checklist li{
  margin-bottom: 10px;
}

.li-item {
  margin-bottom: 10px;
}

.li-item h2 {
  display: flex;
  align-items: center;
  margin: 0;
}

.checklist .li-item {
  padding-left: 40px;  
  margin-bottom: 10px;  
  display: flex;
  align-items: center;
}

.checklist .li-item i {
  margin-right: 20px;  
  color: rgb(12, 57, 126)
  
}
.li-item a {
  text-decoration: none;
  color: #333333;
}

/* -------- NAVigation bar styles --------*/
.hero{
  height: 100vh;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.logo{
  color: black;
  font-size: 28px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover{
  color:  rgb(255, 136, 1);
  transition: .3s;
}


/* Dropdown container */
.dropdown {
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.getStarted{
  border: none;
  background: rgb(255, 132, 0);
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
}
.getStarted:hover{
  transform: scale(1.3);
  cursor: pointer;
}


/*---------------- BOOKKEEPING PAGE STYLES STARTS--------------------*/
.bookkeeping-services{
  margin-top: 15px;
  margin-bottom: 0px;
  max-width: 100%;
}
.bookkeeping-services .container{
  background-image: url(./Assets/Bookkeeping\ service.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.bookkeeping-services .container .row .col-1{
  max-width: 800px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.bookkeeping-services .container h1{
  color: #e7e1e1;
}
.bookkeeping-services .container p{
  color: white;
  padding: 20px;
}
.service-title {
  text-align: center;
  margin: 0 30px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.service-title::after {
  content: "";
  background: #ff931e;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------------- CARds section --------------------*/

.bookKeeping-cards {
  padding-top: 50px;
}
.bookKeeping-cards .col-3 {
  text-align: left;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}
.bookKeeping-cards .col-3:hover {
  transform: translateY(-10px);
}
.bookKeeping-cards .col-3 h2 {
  font-weight: 600;
  text-align: center;
  color: #302f2f;
  font-size: 16px;
}
.bookKeeping-cards .col-3 p {
  font-weight: 300;
  color: #302f2f;
  font-size: 13px;
}

/* ---------------------- Accordian in html, CSS ------
.accordion{
  max-width: 930px;
  width: 100%;
  background: #FFF;
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow:  0 0 4px rgba(0,0,0,0.2);
}
.accordion .accordion-content{
  margin: 10px 0;
  border-radius: 4px;
  background: #FFF7F0;
  border: 1px solid #FFD6B3;
  overflow: hidden;
}
.accordion-content:nth-child(2){
  background-color: #F0FAFF;
  border-color: #CCEEFF;
}
.accordion-content:nth-child(3){
  background-color: #FFF0F3;
  border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
  background-color: #F0F0FF;
  border-color: #CCCCFF;
}
.accordion-content:nth-child(6){
  background-color: #F0FAFF;
  border-color: #CCEEFF;
}
.accordion-content.open{
  padding-bottom: 10px;
}
.accordion-content header{
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion-content.open header{
  min-height: 35px;
}
.accordion-content header .accordion-title{
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.accordion-content header i{
  font-size: 15px;
  color: #333;
}
.accordion-content .description{
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
} */
/*---------------- BOOKKEEPING PAGE STYLES ENDS--------------------*/
/* -------------------Bookkeeping stress free START----------------------*/
.bookkeeping-stress{
  margin: 70px 0;
  max-width: 100%;
}
.bookkeeping-stress .container{
  background-image: url(./Assets/bookkeeping\ free.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.bookkeeping-stress .container .row .col-1{
  max-width: 800px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.bookkeeping-stress .container h1{
  color: #ffffff;
}
.bookkeeping-stress .container p{
  color: rgb(20, 20, 20);
  padding: 20px;
  font-weight: bold;
  text-shadow: 1px 1px #ffffff;
}
/* -------------------Bookkeeping stress free ENDS----------------------*/

/* ----------------------- Management accounts ENDS--------------------*/
/* ----------------------- About Us ---------------------------------*/
#more {display: none;}
.howWeOperate{
  background-color: #dedef1;
}



.profile-title {
  text-align: center;
  position: relative;
  line-height: 60px;
  color: #555;
}


.post-title {
  text-align: center;
  margin: -20px auto 40px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.post-title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#myBtn{
  display: flex;
  align-self: flex-end;
  font-size: 0.7rem;
  font-weight: 500;
  color: #3983BA;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
  padding: 0.3rem 1.3rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}


.cd__main {
  background: #1f2c3a !important;
  font-family: "Nunito", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.Team-Pic {
  border-radius: 50%;
  width: clamp(100px, 40vw, 120px);
  height: clamp(100px, 40vw, 120px);
  object-fit: cover;
  object-position: top;
}
header {
  background: linear-gradient(to top, #1f2c3a 0%, #2f3c4742 100%), url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%/cover;
  width: 100%;
  min-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
header .header-content {
  width: min(37.5em, 90%);
  margin-top: 5em;
  position: relative;
  z-index: 10;
}
header .header-content span {

}
header .header-content h1 {
  font-size: clamp(1.5rem, 1.375rem + 0.625vw, 2rem);
  font-weight: 700;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 75em;
  margin-inline: auto;
  gap: 0.938rem;
  transform: translatey(-3em);
  position: relative;
  z-index: 10;
}
section .card {
  padding: 1.875em 1.25em;
  max-width: 18.75rem;
  width: 90%;
  height: 16.875rem;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  position: relative;
}
section .card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
  border: 0.125rem solid transparent;
  background: linear-gradient(45deg, #1e272e, #48627a) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
section .card h2 {
  color: #fff;
  letter-spacing: 0.05rem;
  font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
  margin-top: 0.625em;
  margin-bottom: 0.188em;
}
section .card p {
  color: #afafaf;
  font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
}
section .card-top {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  gap: 0.938rem;
  flex-wrap: wrap;
}

/*------------------ About us Ends */

